<!DOCTYPE html>

<html>

	<head>
		<style>
			hr.solid {
			  border-top: 3px solid #0D3756;
			}

			.font-med{
				font size: 30px;
			}

			.font-sa{
				font size:20px;
			}
		</style>
		<!--This is a comment.-->

		<title> Resources </title>

		<link rel="stylesheet" type="text/css" href="./css/style.css">

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<script type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
			  // Add smooth scrolling to all links
			  $("a").on('click', function(event) {

			    // Make sure this.hash has a value before overriding default behavior
			    if (this.hash !== "") {
			      // Prevent default anchor click behavior
			      event.preventDefault();

			      // Store hash
			      var hash = this.hash;

			      // Using jQuery's animate() method to add smooth page scroll
			      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
			      $('html, body').animate({
			        scrollTop: $(hash).offset().top
			      }, 800, function(){
			   
			        // Add hash (#) to URL when done scrolling (default click behavior)
			        window.location.hash = hash;
			      });
			    } // End if
			  });
			});
		</script>
</head>

	<body> 
		<hr class="solid"  style="width:70% "> 

		<div style="background-color:#C44444">

		<h2 class="font-cairo font-med"> <b> KNOW YOUR RIGHTS </h2>
		
		<ol class= "font-sa">
		  <li> What are your rights? <a href="#rights">  > </a> </li>
		  <li> Scenarios with ICE <a href="#scene"> > </a>  </li>
		  <li> ICE Regulations <a href="#ICE"> > </a> </li>
		  <li> Documentation <a href="#docs"> > </a> </li>
		</ol> 

		<h2 class="font-cairo font-med"><a id ="rights"> What are your rights? </a></h2>
		<p> A good resource to use is a website called: <a href= "https://www.immigrantdefenseproject.org/ice-home-and-community-arrests/"> Immigration Defense Project </a>. 
		
		<br>FACTS:</br>
		<li>ICE often pretends to be police, here's what you can do: Ask them to slip their card under the door or a warrant.</li>
		<li>You don't have to let them in without a warrent SIGNED by the judge.</li>
		<li>DON'T LIE.</li>
		<li>DON'T RUN OR PHYSICALLY RESIST ARREST.</li>
		<li>You have the right to not talk to them.</li>
	</p>

	
	
	<h2 class="font-cairo font-med"><a id = "scene"> Scenarios with ICE </a> </h2>
	<p>Here are some <a href= "https://wearecasa.org/wp-content/uploads/2017/04/KYR-New-V2.1English.pdf"> scenarios </a> such as:
	<li>"If you are stopped on the street or in a public place" </li>
	<li>"If ICE comes to your door"</li> 
	<li>"An example of a valid and invalid warrant"</li>
	<li>"If you are stopped in your car"</li>
	<li>"If ICE comes to your workplace"</li>
	<li>"If you are arrested by ICE"</li>
</p>
<p>

	Another source to use is <a href= "https://www.aclu.org/know-your-rights/immigrants-rights/"> ALCU </a>. They can provide mutiple scenarios in which your situation may fit, such as needing a lawyer.
	</p>
 <h2 class="font-cairo font-med"> <a id = "ICE"> ICE Regulations </a> </h2>
 <li> This <a href= "https://locator.ice.gov/odls/#/index"> Online Detainee Locator System </a> helps look for detained family, friends, loved ones over the age of 18</li>

 <h2 class="font-cairo font-med"><a id = "docs"> Documentation </a> </h2>

</div>
</body>